{{#create_mode}}
    <textarea class="form-control" rows="2">{{ text }}</textarea>
    <br/>
    <button class="btn btn-info btn-sm bb-create-item">Create</button>
    <button class="btn btn-default btn-sm bb-cancel">Cancel</button>
{{/create_mode}}

{{^create_mode}}
    {{! not create == show or update mode }}

    <div class="bb-task-text">{{ text }}</div>

    <button class="btn btn-default btn-sm bb-switch-status">
        {{#resolved_status}}
        Not resolved
        {{/resolved_status}}
        {{^resolved_status}}
        Mark Resolved
        {{/resolved_status}}
    </button>
    <button class="btn btn-default btn-sm bb-remove-item">Remove</button>
{{/create_mode}}
