body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
}

.bb-task-text {
  min-height: 1em;
  padding: 11px;
  margin-bottom: 1em;
}

.bb-list-item {
    margin-bottom: 1em !important;
}

.bb-list-item-resolved {
    background-color: #DDDDDD !important;
}

.bb-item-break {
    text-transform: uppercase;
    color: #808080;
    list-style: none;
}

.bb-remove-item {
    border-width: 3px;
    border-color: #FFAAAA!important;
}